<link rel="stylesheet" type="text/css" href="/css/welcome_screen.css"/>
<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">

<body>
    <div id="names_form">
        <h1> BATTLE </h1>
        <form action="/names" method="post">
            <label for="player_1_name">Player 1 name:</label>
            <input type="text" name="player_1_name">
            <label for="player_2_name">Player 2 name:</label>
            <input type="text" name="player_2_name">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>